.bank-transfer-container {
    font-family: Arial, sans-serif;
    width: 100%; /* Ensures the container is full width */
}

.bank-transfer-container h2 {
    text-align: left;
    color: #333;
    margin-bottom: 20px;
}

.bank-details {
    width: 100%; /* Ensures bank details take the full width */
}

.bank-details .bank {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Spacing between bank entries */
    border: 1px solid #ccc; /* Keeps the outer border */
    padding: 10px;
    width: 100%; /* Ensures each bank entry is full width */
}

.bank-details .bank img {
    margin-right: 10px; /* Spacing between logo and the vertical line */
    width: 100px; /* Adjust width as needed */
}

.bank-details .bank-info {
    border-left: 2px solid #ccc; /* Adds a line between the logo and text */
    padding-left: 10px; /* Adds spacing after the line */
    flex-grow: 1; /* Allows bank info to fill the remaining space */
    margin-left: 10px; /* Adjust margin as needed */
}

.bank-details .bank-info p {
    margin: 5px 0; /* Spacing between paragraphs */
    text-align: left; /* Aligns text to the left */
}

.bold-text {
    font-weight: bold;
}
