.contact-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.contact-form {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    font-size: 0.9rem;
    color: #495057;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form-control {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.form-control:focus {
    box-shadow: none;
    border-color: #80bdff;
}

.submit-button {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.thank-you-message {
    text-align: center;
    padding: 2rem 1rem;
    margin: 0;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color: #e0ebff;
    color: #155724;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.back-button {
    margin-top: 20px;
    display: block;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #41484f;
    transition: all 0.2s ease-in-out;
}

.back-button:hover {
    background-color: #b4daff;
    border-color: #dae0e5;
}

.email-form{
    height: 45px;
    margin-bottom: 15px;
}

.title-form{
    height: 45px;
    margin-bottom: 15px;
}

.content-form{
    height: 280px;
    margin-bottom: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .contact-container {
        margin: 20px auto;
        padding: 1.5rem;
    }

    .form-control, .submit-button, .back-button {
        padding: 0.5rem 1rem;
    }
}

/* On form submission, hide the form and show the thank-you message */
.form-submitted .contact-form {
    display: none;
}

.form-submitted .thank-you-message {
    opacity: 1;
}

.contact-title {
    font-size: 2.5rem; /* Adjust size as needed */
    text-align: center;
    margin-bottom: 1.5rem; /* Spacing below the title */
    color: #000000; /* You can choose a color that fits your branding */
    font-weight: 280px; /* Lighter font-weight for a modern look */
}

/* Style placeholders (Will affect all the form in app) */
.form-control::placeholder {
    color: #adb5bd; /* Placeholder text color */
    opacity: 1; /* Placeholder text opacity */
}

/* For Microsoft Edge */
::-ms-input-placeholder {
    color: #adb5bd;
}

/* For Internet Explorer 10-11 */
:-ms-input-placeholder {
    color: #adb5bd;
}

.contact-container-wrap {
    background-color: #f7f8fc;
    max-width: 100%;
}