.expired-container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    text-align: center;
    font-family: 'Arial', sans-serif; /* This should match the font used in your design */
    color: #333; /* Adjust color based on your design */
    background: #fff; /* Adjust background based on your design */
    border-radius: 10px; /* Rounded corners for the container */
}

.expired-header {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.expired-subtext {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.offer-badge {
    display: inline-block;
    background-color: #ffcc00;
    color: #333;
    padding: 0.5rem 1rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.offer-button {
    background-color: #0056b3;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.125rem;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: background-color 0.3s ease;
}

.offer-button:hover {
    background-color: #003580;
}

.dismiss-text {
    color: #999;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

/* Responsive design adjustments */
@media (max-width: 767px) {
    .expired-container {
        padding: 20px;
    }

    .expired-header {
        font-size: 2rem;
    }

    .offer-button {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }
}
