
/* Floating sidebar that becomes visible when scrolling to the question section */
.floating-sidebar {
    display: none;
    position: fixed;
    right: 20px;
    top: 20%;
    width: 200px;
    background: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  
  /* Make the sidebar visible when the question section is reached */
  .visible {
    display: block;
  }
  
  /* Styles for the sidebar content */
  .scroll-icon {
    cursor: pointer;
    padding: 8px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .scroll-icon:hover {
    background-color: #e8e8e8; /* Color change on hover */
    transform: translateY(-2px); /* Slight move effect on hover */
  }
  
  
  /* Styles for mobile screens */
  @media (max-width: 905px) {
    .floating-sidebar {
      display: none; /* Hide the floating sidebar on mobile */
    }
  
    /* Add this class to your component to show the correct answers at the end */
    .mobile-correct-answers {
      display: block; /* Show the correct answers */
      position: static; /* Normal document flow */
      width: auto; /* Take the full width */
      margin-top: 20px; /* Space before the badge */
      text-align: center; /* Center the badge */
    }
  
    /* Optional: Adjust the pagination to fit better on mobile screens */
    .pagination {
      flex-wrap: wrap; /* Allow pagination items to wrap */
    }
  
    .page-item {
      flex: 0 0 auto; /* Allow each item to grow or shrink as needed */
      margin: 5px; /* Space around pagination items */
    }
  }
  
  /* Use these styles for the correct answers badge inside the .mobile-correct-answers div */
  .correct-answers-badge {
    display: inline-block; /* Only take up as much width as necessary */
    padding: 10px 20px; /* Tighter padding */
    background-color: #fef283; /* Bright yellow background for visibility */
    color: #333; /* Dark text for contrast */
    border-radius: 20px; /* Full rounded corners for a badge/chip look */
    display: inline-flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center content */
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25); /* Soft shadow for depth */
  }

  .level-button.selected {
    background-color: #4CAF50; /* Green background for the selected button */
    color: white; /* White text for better contrast */
  }
  