.footer {
  flex-shrink: 0;
  background-color: #fff8cd;
  text-align: center;
  padding: 10px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icons a {
  color: #000;
  text-decoration: none;
}

.footer-link {
  color: rgb(105, 105, 255) !important; /* Ensure blue color overrides any other styles */
  padding: 0 10px; /* Space out the links */
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between links */
  margin-bottom: 15px;
}
