@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.website-name {
    margin-left: 15px; /* Adds space between the logo and the text */
    vertical-align: middle; /* Aligns the text with the logo */
    font-size: 25px; /* Smaller font size for desktop */
    font-weight: 700; /* Bold font to match the logo's weight */
    color: #000; /* Sets the text color to black */
    font-family: 'Montserrat', sans-serif; /* Modern, clean-looking font */
}

/* Smaller screens (tablets, large phones, etc.) */
@media (max-width: 768px) {
    .website-name {
        font-size: 24px; /* Adjusted size for smaller screens */
    }
}

/* Extra small screens (small phones) */
@media (max-width: 575px) {
    .website-name {
        font-size: 18px; /* Further adjusted size for very small screens */
    }
}
