/*this is for Introduction in Smart Grammar + Listening + Essay 
/* Introduction Section Styles */
.intro-section {
    background-color: #fff9eb;
    /* Or any other color you prefer */
    color: black;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1200px;
    /* Set a max-width for larger screens */
    margin: auto;
    padding: 0 15px;
    /* Padding on the sides */
  }
  
  /* Flex container to hold the text and image side by side */
  .intro-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    /* Spacing between text and image */
  }
  
  /* Styles for the text content */
  .intro-text-content {
    flex: 1;
    /* Takes up half the space in the flex container */
    max-width: 50%;
    /* Maximum width of the text content */
  }
  
  .intro-text-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .intro-text-content p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  /* Styles for the image content */
  .intro-image-content {
    flex: 1;
    /* Takes up half the space in the flex container */
    text-align: right;
    /* Aligns the image to the right */
  }


  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .intro-flex-container {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  
    .intro-text-content,
    .intro-image-content {
      max-width: 100%;
    }
  
    .intro-image-content {
      margin-top: 20px;
      text-align: center;
      /* Aligns the image to the center on smaller screens */
    }

    body, html {
      overflow-x: hidden; /* Hide horizontal scrollbar */
    }

  }
  
  /* Fade in from bottom for text */
  @keyframes fadeInUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Fade in from right for image */
  @keyframes fadeInRight {
    from {
      transform: translateX(90px);
      opacity: 1;
    }
  
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Apply the fadeInUp animation to the text content */
  .intro-text-content {
    animation: fadeInUp 3s ease-out forwards;
  }
  
  /* Apply the fadeInRight animation to the image content */
  .intro-image-content {
    animation: fadeInRight 3s ease-out forwards;
  }
  
  .intro-text-content,
  .intro-image-content {
    opacity: 1;
  }
  
  /* Fade out animation */
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  /* Apply animations */
  .intro-section {
    opacity: 1;
    /* Ensure initial state is fully visible */
    transition: opacity 0.5s;
    /* Smooth transition for the fade effect */
  }
  
  .intro-text-content,
  .intro-image-content {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  