/* Common row styles */
.row-style {
    background-color: #FFF9C4; /* Light background color for the first and third rows */
    border-radius: 25px;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
}

/* Specific style for the second row to have a different background color */
.second-row {
    background-color: #fff176; /* Slightly different background color for distinction */
}

/* If you need to add spacing between rows, you can adjust the my-4 class or add custom margins */
