/*For Introduce Feature*/

.g-4 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    /* Aligns the cards vertically */
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 30px;
}

.introduce-col {
    display: flex;
    /* This will ensure the column takes the height of the tallest card */
    flex: 1;
    padding: 0 7.5px;
    /* Half of your gap size to ensure even spacing */
}

.feature-card {
    width: 100%;
    /* Ensures the card stretches to fill the column */
    margin-bottom: 1rem;
    /* Space below each card */
    border: 1px solid #FFC107;
    background-color: #eeff6d;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition for hover effects */
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: 300px;
    /* Fixed height for consistency */
    object-fit: cover;
    border-radius: 10px;
    /* Adds rounded corners to the image */
    transition: transform 0.3s ease;
    /* Smooth transition for image scaling */
}

.card-img-top:hover {
    transform: scale(1.05);
    /* Slightly enlarges the image on hover */
}

.card-title {
    font-family: 'Nunito', sans-serif;
}

.card-text {
    padding-top: 10px;
    font-family: 'Nunito', sans-serif;
}

.outlined-text {
    color: #fab951;
    /* Text color */
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 black,
        /* Top-left shadow */
        1px -1px 0 black,
        /* Top-right shadow */
        -1px 1px 0 black,
        /* Bottom-left shadow */
        1px 1px 0 black;
    /* Bottom-right shadow */
}


@media (min-width: 768px) {
    .introduce-col {
        flex: 0 0 auto;
        width: calc(33.333% - 15px);
        /* Adjust for 3 columns with the correct gap */
    }
}