
/*For Introduction LandingPage*/

.intro-fullpage {
    min-height: 87vh;
    /* Set minimum height to fill the viewport */
    display: flex;
    align-items: center;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
    background: url('../photos/Intro.webp') no-repeat right center;
    /* Update the path to your background image */
    background-size: cover;
    position: relative;
  }
  
  /* Creating an overlay div with blur effect */
  .intro-blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 42%;
    /* Adjust width as necessary */
    height: 100%;
    backdrop-filter: blur(3px);
    /* Blur effect */
    -webkit-backdrop-filter: blur(3px);
    /* For Safari */
    z-index: 1;
    /* Overlay above the background but below the content */
  }
  
  /* Ensure the content is visible above the overlay */
  .intro-fullpage>.row {
    position: relative;
    z-index: 2;
  }
  
  /*for image in level page*/
  .image-container {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .image-container:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
  
    /* Adjust the full-page introduction section */
    .intro-fullpage {
      background: none;
      /* Remove background image for mobile */
      padding: 40px 20px;
      /* Add some padding */
      display: block;
      min-height: auto;
      /* Remove min-height restriction */
    }
  
    /* Hide the large desktop-only background image */
    .intro-fullpage .background-image {
      display: none;
    }
  
    /* Style the content for mobile */
    .intro-fullpage .row {
      flex-direction: column;
      /* Stack elements vertically */
      justify-content: flex-start;
      /* Align content to the top */
    }
  
   /* Add a solid background panel for text */
.intro-fullpage .text-panel {
  background-color: rgba(0, 0, 0, 0.7); /* Dark background with some transparency */
  padding: 20px; /* Padding to create space around the text */
  border-radius: 10px; /* Optionally round the corners for aesthetics */
}

/* Update heading styles */
.intro-fullpage h2 {
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.4;
  color: #ffffff; /* White color for high contrast */
  font-family: 'Arial', sans-serif; /* Using a sans-serif font */
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8); /* Consistent, bolder shadow */
}

/* Update paragraph styles */
.intro-fullpage p {
  font-size: 20px;
  color: #ffffff;
  font-family: 'Arial', sans-serif; /* Consistent font family */
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8); /* Consistent, bolder shadow */
}

.intro-fullpage span {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8); /* Consistent, bolder shadow */
}

/* Ensure text panel is correctly positioned if not yet */
.intro-fullpage .text-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Adjust width to suit your design */
  z-index: 2;
}

  
    /* Update button styles */
    .intro-fullpage .btn {
      font-size: 18px;
      /* Larger font size for buttons for easier interaction */
      padding: 10px 20px;
      /* Adjust padding for better proportions */
      margin-bottom: 20px;
      /* Add some space below the button */
    }
  
    /* Adjust the overlay */
    .intro-blur-overlay {
      display: none;
      /* Remove the blur overlay on mobile */
    }
  
    .mobile-intro-image {
      display: block;
      width: 100%;
      /* Ensure it covers the full width */
      height: auto;
      /* Maintain aspect ratio */
      margin-bottom: 20px;
      /* Space below the image */
    }
  
    .intro-fullpage {
      min-height: 200px; /* Set minimum height to fill the viewport */
      display: block;
      align-items: center; /* Center content vertically */
      justify-content: center; /* Center content horizontally */
      position: relative;
      overflow: hidden; /* Ensures no spill outside the boundary */
    }
    
    /* Add a pseudo-element for the background */
    .intro-fullpage::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url('../photos/Intro.webp') no-repeat right center; /* Position and size of the background */
      background-size: cover;
      filter: brightness(0.6); /* Apply brightness filter here */
      z-index: -1; /* Ensure it stays behind the content */
    }
    
  
    /* Ensure content is visible and positioned correctly */
    .intro-fullpage>.row {
      position: relative;
      z-index: 2;
      /* Above the blurred background */
    }
  
    /* Remove blur effect from text */
    .intro-fullpage>.row .col {
      backdrop-filter: none;
      /* Ensure the text is not blurred */
    }
  
    /* Additional styles for the blurred background image */
    .intro-fullpage::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      /* Use the same background as the parent */
      filter: blur(3px);
      /* Increase blur effect */
      z-index: 1;
      /* Below the content */
    }
  
    /* Hide the image for mobile since the background will be blurred */
    .mobile-intro-image {
      display: none;
    }
  }