.image-hover-effect {
    transition: transform 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
}

.image-hover-effect:hover {
    transform: scale(1.05); 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Define color spectrum for buttons */
.button-A1 {
    background-color: #FFF9C4; /* Lighter yellow */
    border-color: #FFF9C4;
  }
  
  .button-A2 {
    background-color: #fff59f; /* Medium yellow */
    border-color: #fff59f;
  }
  
  .button-B1 {
    background-color: #fff176; /* Darker yellow */
    border-color: #fff176;
  }
  
  .button-B2 {
    background-color: #ffee58; /* Darkest yellow */
    border-color: #ffee58;
  }
  
  /* Add styles for when hovering over each button */
  .button-A1:hover,
  .button-A2:hover,
  .button-B1:hover,
  .button-B2:hover {
    opacity: 0.8; /* Slight transparency on hover */
  }
  
  .level-button {
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  