/* LevelButtons.css adjustments for 2x2 grid */
.level-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two buttons per row */
  gap: 10px; /* Spacing between buttons */
  margin-bottom: 15px;
}

.level-button {
  background-color: #fef283; /* Green background */
  color: black; /* White text */
  border: none;
  border-radius: 5px;
  padding: 8px 16px; /* Padding inside buttons */
  cursor: pointer; /* Cursor pointer to indicate it's clickable */
  transition: background-color 0.3s; /* Smooth background color transition on hover */
  text-align: center; /* Center button text */
  width: 100%; /* Make the button expand to fill the grid column */
}

.level-button:hover {
  background-color: #388e3c; /* Darker green on hover */
}
