.navbar-custom {
    background-color: #fff8cd;
    /* Light yellow background */
    /* 30px distance from the left edge */
    /* 30px distance from the right edge */
}

/* Aligns nav items to the right */
.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.navbar {
    border-bottom: 1px solid #e7e7e7;
    /* A subtle border */
}

/* Navbar brand with some left margin to keep it away from the edge */
.navbar-brand {
    margin-right: auto;
    /* This will push the brand to the left */
    padding-left: 80px;
    display: flex;
    align-items: center;
    white-space: nowrap; /* Prevents wrapping of navbar text */
}

.navbar-collapse {
    padding-right: 50px;
}

/* Adjusts dropdown menu to expand towards the left */
.nav-item.dropdown .dropdown-menu {
    right: 0;
    left: auto;
    border: none;
}

.nav-dropdown-custom .dropdown-menu {
    background-color: #fcfcf7;
    border: 1px solid #ffdddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

.nav-dropdown-custom .dropdown-item {
    color: #333;
    padding: 0.45rem 1.5rem;
    transition: background-color 0.2s ease-in-out;
}

.nav-dropdown-custom .dropdown-item:hover {
    background-color: #e9ecef;
}

.navbar-logo:hover {
    transform: scale(1.05);
}

.my-navbar {
    display: flex;
    background-color: #fff8cd;
    /* Light cream background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    /* Required for Safari */
    position: sticky;
    top: 0;
    /* Set the top position for the sticky navbar */
    z-index: 1020;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute space between elements */
    padding: 0 0px; /* Add padding on the sides */
}

.nav-link,
.navbar-brand {
    color: #333;
    /* Charcoal gray text */
    transition: color 0.2s ease-in-out;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #FFC107;
    /* Sunset yellow for hover states */
}

.login-highlight:hover {
    background-color: #f0f0f0;
    /* Lighter background on hover */
}

/* Ensure dropdowns are consistent with nav styling */
.nav-dropdown-menu {
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-dropdown-item:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .my-navbar {
        position: static;
        /* This will remove the sticky behavior on mobile */
    }
}

@media (max-width: 768px) {
    .navbar-brand,
    .nav-link {
        padding: 0 0px; /* Reduces padding on smaller screens */    
    }
}

@media (max-width: 400px) {
    .navbar-brand .website-name {
        display: none; 
    }
}
