
/*For Paging in Grammar and Listening*/
/* Pagination container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Individual page item */
.page-item {
  border: none;
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Dark text for contrast */
  padding: 8px 16px; /* Padding for size */
  margin: 0 4px; /* Space between buttons */
  cursor: pointer; /* Cursor pointer to indicate it's clickable */
  border-radius: 5px; /* Rounded corners for a modern look */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
}

.page-item:hover, .page-item:focus {
  background-color: #82beff; /* Highlight color on hover/focus */
  color: #ffffff; /* White text on hover/focus */
  transform: translateY(-2px); /* Slight raise effect on hover/focus */
}

.page-item.active {
  background-color: #0075f1; /* Active page button */
  color: #ffffff; /* White text for active page */
  font-weight: bold; /* Make the active page number bold */
}

/* Correct Answers Badge Styles */
.correct-answers-badge {
  padding: 10px 20px; /* Tighter padding */
  background-color: #fef283; /* Bright yellow background for visibility */
  color: #333; /* Dark text for contrast */
  border-radius: 20px; /* Full rounded corners for a badge/chip look */
  display: inline-flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center content */
  box-shadow: 0px 2px 4px rgba(0,0,0,0.25); /* Soft shadow for depth */
}

.badge-text {
  font-size: 20px; /* Bold text for emphasis */
}

.badge-count {
  background-color: #4caf50; /* Contrast green background for the count */
  color: white; /* White text for readability */
  padding: 5px 15px; /* Adequate padding around the number */
  margin-left: 10px; /* Separate the count from the text */
  border-radius: 15px; /* Rounded corners for the count */
  font-size: 1.1em; /* Slightly larger font for the count */
}

/* Hover effect for the badge */
.correct-answers-badge:hover {
  background-color: #fff59d; /* Lighter yellow on hover for interaction feedback */
  cursor: pointer; /* Change cursor to indicate interactivity */
  transition: transform 0.3s ease;
  transform: scale(1.05);
}