
/* smart german exam */
.arrow-container {
    position: relative;
    display: inline-block;
    margin-bottom: 65px;
  }
  
  .arrow-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    color: #007bff;
    animation: float 2s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateX(-50%) translateY(5px);
    }
  
    50% {
      transform: translateX(-50%) translateY(-5px);
    }
  
    100% {
      transform: translateX(-50%) translateY(5px);
    }
  }
  
  .choose-topic-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #0056b3;
    margin-bottom: 2rem;
    opacity: 0.9;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .choose-topic-text:hover {
    transform: translateY(-3px);
    opacity: 1;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.9;
    }
  }
  
  .choose-topic-text {
    animation: fadeIn 1.5s ease-in;
  }