/* Custom styles for the pricing cards */
.container {
    padding-top: 50px;
    padding-bottom: 50px;

}

.pricing-card-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow cards to wrap */
    justify-content: center;
    gap: 0;
    /* Removes gap between cards */
}

.pricing-card {
    flex: 1;
    /* Cards take up equal space */
    min-width: 250px;
    /* Minimum width before cards wrap */
    margin: 0 2px;
    /* Slightly space out the cards */


}

.middle-card .card {
    transform: scale(1.05);
    /* Make the middle card slightly taller */
    z-index: 1;
    /* Ensure it overlaps adjacent cards slightly */
    background-color: #FFA931;
    /* Specific color for the middle card */
    color: white;
    /* Change text color for better visibility */

}

.pricingcard-1 .card {
    background-color: #fff891;
}

.pricingcard-3 .card {
    background-color: #fff891;
}

/* Ensure that the text inside the middle card is legible against the new background */
.middle-card .card-header,
.middle-card .card-body,
.middle-card .card-title,
.middle-card .list-unstyled,
.middle-card .btn {
    color: white;
}

/* Responsive behavior */
@media (max-width: 1199px) {
    .pricing-card-container {
        flex-direction: row;
        /* Stack cards vertically */
    }

    .pricing-card {
        flex-basis: 100%;
        /* Each card takes full width */
        margin: 0;
        /* No space between cards */
    }
}



/* Custom button styles */
.button-subscription button {
    border: 2px solid green;
    /* Green border */
    background-color: transparent;
    /* Transparent background */
    color: green;
    /* Green text */
    border-radius: 10px;
    /* Rounded corners */
    cursor: pointer;
    /* Cursor indicates a clickable item */
    transition: all 0.3s ease;
    /* Smooth transition for hover effects */


    text-align: center;
    /* Center the text inside */
    line-height: 2.5;
    /* Increased line height for better visual */
    display: inline-block;
    /* Inline-block for proper dimension settings */
    text-decoration: none;
    /* Remove text decoration */
    outline: none;
    /* Remove focus outline */
}

.button-subscription button:hover {
    background-color: rgba(0, 128, 0, 0.1);
    /* Slight background color on hover */
    border-color: darkgreen;
    /* Darker green border on hover */
}

.button-subscription button:focus {
    outline: none;
    /* Remove outline on focus */
    box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.5);
    /* Add focus ring */
}


/* Add this to your CSS file */



.list-unstyled li {
    margin-bottom: 1.5rem;
    /* Adjust the value as needed to increase the space */
}


.highlight-discount {
    font-weight: bold;
    /* Make the text bold */
    font-size: larger;
    /* Increase the font size */
    background-color: #FFD700;
    /* Use a gold background, or choose another color */
    color: black;
    /* Set the text color to black or any color that stands out against the background */
    padding: 5px 10px;
    /* Add some padding around the text */
    border-radius: 5px;
    /* Optional: round the corners of the background */
    display: inline-block;
    /* Wrap the background tightly around the text */
    margin: 5px 0;
    /* Add some margin above and below the list item */
}

/* Style for each individual card */
.pricing-card .card,
.middle-card .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition for transform and shadow */
}

.pricing-card .card:hover,
.middle-card .card:hover {
    transform: scale(1.05);
    /* Slightly scale up the card on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    /* Add shadow for lifting effect */
}

/* Hover effect for the middle card */
.middle-card .card:hover {
    transform: scale(1.1);
    /* Adjust if you want a different hover effect */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    /* Consistent shadow effect with other cards */
    background-color: #FFA931;
    /* Maintain the middle card's color */
}

.middle-card .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}