.team-container {
    background-color: #f7f8fc;
    padding: 5% 10%;
    color: #333;
    max-width: 100%;
    margin: auto;
}

.team-image-container {
    position: relative;
    display: inline-block;
}

.team-image-container::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background-color: #ffffe0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.team-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 4%;
    padding: 2%;
}

.team-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 1;
}

.team-info {
    flex: 1;
    padding: 2%;
    text-align: justify;
}

.team-info h3 {
    font-size: 1.75rem;
    color: #000000;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.team-info p.role {
    font-size: 0.97rem;
    font-weight: bold;
    color: #797979;
    margin-bottom: 1rem;
}

.image-background-circle {
    width: 250px;
    height: 250px;
    background-color: #ffffe0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.image-background-circle::after {
    content: '';
    position: absolute;
    width: 260px;
    height: 260px;
    background-color: #fff8cd;
    border-radius: 50%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px solid #f8f9fa;
    object-fit: cover;
    z-index: 1;
    box-shadow: none;
}

.team-image:hover {
    transform: none;
}

/* Responsiveness */
@media (max-width: 791px) {
    .team-info {
        text-align: center;
        padding: 4% 2%;
    }

    .team-row {
        flex-direction: column;
    }

    .team-image {
        margin: 0 auto 2%;
    }

    .image-background-circle {
        width: 200px;
        height: 200px;
    }

    .image-background-circle::after {
        width: 210px;
        height: 210px;
    }

    .team-info h3 {
        font-size: 1.5rem;
    }

    .team-info p.role {
        font-size: 0.85rem;
    }

    .team-info p {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .team-info {
        padding: 3% 1%;
    }

    .team-image {
        width: 150px;
        height: 150px;
    }

    .image-background-circle {
        width: 150px;
        height: 150px;
    }

    .image-background-circle::after {
        width: 160px;
        height: 160px;
    }

    .team-info h3 {
        font-size: 1.25rem;
    }

    .team-info p.role {
        font-size: 0.8rem;
    }

    .team-info p {
        font-size: 0.85rem;
    }
}
