.team-container-mobile {
    background-color: #f7f8fc;
    padding: 5% 5%;
    color: #333;
    max-width: 100%;
    margin: auto;
}

.team-row-mobile {
    margin-bottom: 4%;
    padding: 2%;
    text-align: center;
}

.image-background-circle-mobile {
    width: 150px;
    height: 150px;
    background-color: #ffffe0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    margin-bottom: 1rem;
}

.image-background-circle-mobile::after {
    content: '';
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: #fff8cd;
    border-radius: 50%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-image-mobile {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px solid #f8f9fa;
    object-fit: cover;
}

.team-info-mobile {
    padding: 2%;
}

.team-info-mobile h3 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.team-info-mobile p.role-mobile {
    font-size: 0.85rem;
    font-weight: bold;
    color: #797979;
    margin-bottom: 1rem;
}

.team-info-mobile p {
    font-size: 0.9rem;
}
