.user-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f7f8fc;
    /* Soft background color */
}

.user-profile-card {
    width: 100%;
    max-width: 36rem;
    /* Adjust based on your layout */
    background: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    /* For contained shadows */
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.user-photo-container {
    margin: 0 auto 1.5rem;
}

.user-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #eaeaea;
}

/* Form Input styling */
.form-input {
    background-color: #f7f8fc;
    border: none;
    box-shadow: none;
    border-radius: .375rem;
    /* Rounded corners */
    padding: .75rem 1rem;
    font-size: 0.9rem;
    color: #495057;
}

.form-input:read-only {
    background-color: #f7f8fc;
}

/* Labels */
.form-label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
    color: #495057;
}

/* Buttons */
.btn-primary {
    background-color: #4a76f0;
    /* A shade of blue */
    border-color: #4a76f0;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .375rem;
}

.btn-primary:hover {
    background-color: #3a61c9;
    border-color: #3a61c9;
}

/* Alert styling */
.alert {
    font-size: .875rem;
    padding: .75rem 1.25rem;
}

/* Modal styling to match the card design */
.modal-content {
    border-radius: .5rem;
}

.modal-header,
.modal-footer {
    border: none;
}

/* Save and Cancel Button in Modal */
.modal-footer .btn {
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .375rem;
}

.modal-footer .btn-secondary {
    background-color: #6c757d;
}

.modal-footer .btn-primary {
    background-color: #4a76f0;
}

.profile-header {
    display: flex;
    align-items: center;
}

.user-photo-container {
    margin-right: 2rem;
}

.user-details {
    flex-grow: 1;
}

.profile-body {
    display: flex;
    flex-direction: column;
}

.btn-change-password {
    padding: 0.5rem 1rem;
    /* Smaller button padding */
    font-size: 0.875rem;
    /* Smaller font size */
    border-radius: 0.375rem;
    /* Rounded borders */
    background-color: #4a76f0;
    /* Primary color */
    border: none;
    /* Remove border */
    display: block;
    /* Block level to fit width */
    width: auto;
    /* Auto-width according to text */
    margin-top: 1rem;
    /* Margin top for spacing */
    align-self: end;
    /* Align to the start of the flex container */
}

.section-title {
    font-size: 1.25rem;
    /* Title size */
    font-weight: bold;
    /* Make title bold */
    margin-bottom: 1rem;
    /* Space below the title */
}

/* Ensure the card body takes up full width */
.card-body {
    width: 100%;
    /* Full width */
    display: flex;
    flex-direction: column;
}

.service-info {
    display: flex;
    flex-direction: column;
}

.service-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffbea;
    /* Light yellow background */
    border-radius: 10px;
    /* Rounded edges */
    padding: 0.5rem;
    margin-bottom: 0.75rem;
}

.service-item .form-label {
    margin-bottom: 0;
    /* Remove bottom margin from label */
    flex: 0 0 30%;
    /* Adjust label width */
}

.service-item .form-control {
    flex: 1;
    /* Take up remaining space */
    border: none;
    /* No border */
    background-color: #fffbea;
    /* Match parent background */
    color: #495057;
    margin-right: 5rem;
    /* Space between label and control */
    box-shadow: none;
    /* No shadow */
}

@media (max-width: 768px) {
    .user-profile-container {
        padding: 1rem;
        /* Reduce padding on smaller screens */
    }

    .form-input:read-only {
        text-align: center;
    }

    .user-profile-card {
        max-width: 100%;
        /* Allow card to fill the container on smaller screens */
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .profile-header {
        flex-direction: column;
        /* Stack photo and details vertically */
        align-items: center;
        /* Center-align items */
    }

    .user-photo-container {
        margin-right: auto;
        /* Remove right margin */
        margin-bottom: 1rem;
        /* Add bottom margin */
    }

    .user-details {
        text-align: center;
        /* Center text for user details */
    }

    .service-info {
        align-items: center;
        /* Center-align service items */
    }

    .service-item {
        flex-direction: column;
        /* Stack label and control vertically */
        align-items: center;
        /* Center-align items */
    }

    .service-item .form-label {
        flex: 0 0 auto;
        /* Allow label to fit content */
        margin-bottom: 0.5rem;
        /* Add space between label and control */
        text-align: center;
    }

    .service-item .form-control-wrapper {
        width: 100%;
        /* Full width for control wrapper */
    }

    .btn-change-password {
        width: 100%;
        /* Full width button */
        margin-top: 1rem;
        /* Add top margin */
        align-self: center;
        /* Center button */
    }

    /* Adjust title size for mobile */
    .section-title {
        font-size: 1rem;
        /* Smaller font size for section title */
        text-align: center;
        /* Center title */
    }

    .card-body {
        padding: 1rem;
        /* Reduce padding in card body */
    }

    .service-info {
        display: flex;
        flex-direction: column;
    }

    .service-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fffbea;
        /* Light yellow background */
        border-radius: 10px;
        /* Rounded edges */
        padding: 0.5rem;
        margin-bottom: 0.75rem;
    }

    .service-item .form-label {
        margin-bottom: 0;
        /* Remove bottom margin from label */
        flex: 0 0 30%;
        /* Adjust label width */
    }

    .service-item .form-control {
        flex: 1;
        /* Take up remaining space */
        border: none;
        /* No border */
        background-color: #fffbea;
        /* Match parent background */
        color: #495057;
        text-align: center;
        box-shadow: none;
        /* No shadow */
    }
}