@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html,
body {
  height: 100%;
  font-size: 20px;

}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.heading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  /* Use min-height to ensure it covers the viewport but can expand if content is larger */
  background-color: rgb(255, 235, 177);
  /* Example background color, change as needed */
  text-align: center;
  /* Ensures text alignment is centered if the content wraps */
  padding: 20px;
  /* Padding to ensure there's space around the content */
  box-sizing: border-box;
  /* Ensures padding is included in the height calculation */
}

.centered-heading {
  font-size: 4rem;
  /* Default font size for larger screens */
  font-weight: bold;
  margin: 0;
  /* Remove default margin from h1 */
}

/* Adjust font size for screens less than 768 pixels wide */
@media (max-width: 768px) {
  .centered-heading {
    font-size: 2rem;
    /* Smaller font size for smaller screens */
  }
}

/* Further adjust font size for screens less than 480 pixels wide */
@media (max-width: 480px) {
  .centered-heading {
    font-size: 1.5rem;
    /* Even smaller font size for very small screens */
  }
}


.content-wrap {
  flex: 1 0 auto;
  /* The content area must flex and fill the space */
}

.contact-email {
  display: block;
  /* Makes email link appear on its own line */
  margin-bottom: 10px;
  /* Adds space below the email link */
  text-decoration: none;
  /* Removes underline from the email link */
  font-size: 0.9em;
  /* Makes the text a bit smaller */
}

.logo-hover-effect {
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.logo-hover-effect:hover {
  transform: scale(1.05);
  /* Slightly enlarges the logo */
  opacity: 0.9;
  /* Slightly reduces the logo's opacity */
}

.login-highlight {
  border: 2px solid green;
  /* Keep the border thin */
  display: inline-block;
  border-radius: 10px;
  /* Less rounded corners */
  cursor: pointer;
  /* Indicates the element is clickable */
  transition: all 0.3s ease;
  /* Smooth transition for hover effects */
  line-height: normal;
  /* Adjust line-height to fit the content */
  /* Adjust padding to your needs */
}

.login-highlight:hover {
  background-color: #e9ffe9;
  /* Light green background on hover */
  border-color: #006400;
  /* Darker green border on hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Optional: Adds a subtle shadow effect */
}

/* Media query for smaller screens */
@media (max-width: 1000px) {
  .login-highlight {
    border: 1px solid green;
    /* Even thinner border for smaller screens */
    border-radius: 8px;
    /* Smaller border-radius */
    width: 100px;
  }
}

/* Custom border class */
.custom-border {
  border: 3px solid #BDB76B;
  /* Default border */
}

@media (max-width: 990px) {
  .navbar-brand {
    padding-left: 0;
  }
}

/* Media query for screens smaller than 768px */

/* New Robot Loader Styles */
.load-robot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.load-robot {
  font-size: 80px; /* Make the icon larger */
  animation: upDown 1.5s infinite; /* Move the icon up and down */
  color: #ffb6e6; /* Same color */
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.loading-text {
  margin-top: 10px;
  font-size: 25px; /* Larger font size */
  color: #ffb6e6; /* Same color as the icon */
}

/* Old Spinning Loader Styles */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.custom-container {
  
  /* Increase the 500px value to make the page longer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  margin-bottom: 50px;


}

.custom-container-2 {
  min-height: calc(100vh - 56px);
  /* The minimum height is the viewport height minus the header */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* This will center the content vertically if the content is shorter than min-height */
  align-items: center;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 100px;
  /* You can adjust or remove this as needed */
}

/* Popup style*/

.popup-overlay {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* Ensure the popup is above other content */
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  z-index: 1001;
  /* Ensure the content is above the overlay */
}

.popup-close-button {
  float: right;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

.table-responsive-custom {
  overflow-x: auto;
  /* Allows horizontal scrolling */
}

/* TopicGrammarStyles.css */

.topic-grammar-image {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.topic-grammar-title {
  background-color: #846C5B;
  color: white;
  padding: 10px 20px;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.topic-grammar-tocCard {
  margin-bottom: 20px;
}

.topic-grammar-tocHeader {
  background-color: #ADCAD6;
  color: white;
  border-radius: 0.25rem 0.25rem 0 0;
}

.topic-grammar-content {
  margin-bottom: 20px;
}

/* Gooey effect for larger screens */
.gooey-effect:hover {
  background-color: rgba(61, 135, 220, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.gooey-effect:hover::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(10px);
}

/* Disable or adjust gooey effect for smaller screens */
@media (max-width: 1000px) {
  .gooey-effect:hover {
    background-color: transparent;
    box-shadow: none;
    ;
  }

  .gooey-effect:hover::after {
    content: none;
    /* Removes the pseudo-element */
  }
}

.navbar-nav .nav-link {
  color: #555;
  margin: 0 0.5rem;
  /* Increase horizontal spacing */
  padding: 0.5rem 0;
  /* Increase vertical padding */
}

/*For Carousel*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* Global styles */
body,
h1,
h2,
h3,
h4,
p,
button {
  font-family: 'Open+Sans', sans-serif;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #004494;
  /* A darker shade for hover state */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Styles for the carousel image */
.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  /* Rounded corners for images */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.locked-question {
  pointer-events: none; /* Disable interactions */
  opacity: 0.5;         /* Gray out the question */
}

